{
    "equation_params": {
        "K": 100,
        "lambda_p": 0.121,
        "k_pq": 0.0295,
        "k_qpp": 0.0031,
        "delta_qp": 0.00867,
        "y": 0.729,
        "KDE": 0.24
    },

    "initial_state": {
        "C0": 0,
        "P0": 7.13,
        "Q0": 41.2,
        "Qp0": 0
    }
}