[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
PySide2 = "*"
numpy = "*"
scipy = "*"
torch = "*"
matplotlib = "*"
deepecho = {editable = true,path = "./../DeepEcho"}

[requires]
python_version = "3"
