[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
PySide2 = "*"
numpy = "*"
scipy = "*"
torch = "*"
matplotlib = "*"
scikit-learn = "*"
deepecho = {editable = true,path = "./../DeepEcho"}
qdarkstyle = "*"
pyabc = "==0.10.7"
mypy = "*"

[requires]
python_version = "3.8"
